html {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption,
th,
td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

q,
blockquote {
  quotes: none;
}

q:before,
q:after,
blockquote:before,
blockquote:after {
  content: "";
  content: none;
}

a img {
  border: none;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block;
}

* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

h2 {
  font-size: 34px;
  text-transform: uppercase;
  font-weight: 100;
  line-height: 2;
  color: #2c3e50;
}

p {
  margin-bottom: 2rem;
  line-height: 2;
  color: #7f8c8d;
}

/* 버튼 효과 */
.btn {
  padding: 13px;
  border: 0;
  cursor: pointer;
}

.blue {
  background-color: #3498db;
  color: #fff;
}

.blue:hover {
  background-color: #2F89C5;
  transition: 0.5s;
}

.gray {
  background-color: #ced4da;
  color: #333;
}

.gray:hover {
  background-color: #adb5bd;
  transition: 0.5s;
}

.red {
  background-color: #ea0000;
  color: #fff;
}

.red:hover {
  background-color: #df0000;
  transition: 0.5s;
}

.btn-group {
  width: 80%;
  display: flex;
  justify-content: flex-end;
  margin-bottom: 30px;
}

.btn-group button {
  margin-left: 10px;
  width: 90px;
}

.w100 {
  width: 100%;
}

@media (max-width: 800px) {
  .btn {
    padding: 10px;
  }

  .btn-group button {
    font-size: 10px;
    margin-left: 5px;
    width: 65px;
  }
}